.is-1by1 {
    padding-top: 0 !important;
    padding-bottom: 100% !important;
    height: 0;
}
.is-5by4 {
    padding-top: 0 !important;
    padding-bottom: 80% !important;
    height: 0;
}
.is-4by3 {
    padding-top: 0 !important;
    padding-bottom: 75% !important;
    height: 0;
}
.is-3by2 {
    padding-top: 0 !important;
    padding-bottom: 66.6666% !important;
    height: 0;
}
.is-5by3 {
    padding-top: 0 !important;
    padding-bottom: 60% !important;
    height: 0;
}
.is-16by9 {
    padding-top: 0 !important;
    padding-bottom: 56.25% !important;
    height: 0;
}
.is-2by1 {
    padding-top: 0 !important;
    padding-bottom: 50% !important;
    height: 0;
}
.is-3by1 {
    padding-top: 0 !important;
    padding-bottom: 33.3333% !important;
    height: 0;
}
.is-4by5 {
    padding-top: 0 !important;
    padding-bottom: 125% !important;
    height: 0;
}
.is-3by4 {
    padding-top: 0 !important;
    padding-bottom: 133.3333% !important;
    height: 0;
}
.is-2by3 {
    padding-top: 0 !important;
    padding-bottom: 150% !important;
    height: 0;
}
.is-3by5 {
    padding-top: 0 !important;
    padding-bottom: 166.6666% !important;
    height: 0;
}
.is-9by16 {
    padding-top: 0 !important;
    padding-bottom: 177.7777% !important;
    height: 0;
}
.is-1by2 {
    padding-top: 0 !important;
    padding-bottom: 200% !important;
    height: 0;
}
.is-1by3 {
    padding-top: 0 !important;
    padding-bottom: 300% !important;
    height: 0;
}
