@import '../config';

.box {
    --box-padding: #{$padding-medium};
    border-radius: $border-radius;
    padding: var(--box-padding);
    overflow: hidden;

    @each $name, $size in $padding-sizes {
        &.is-#{$name} {
            --box-padding: #{$size};
        }
    }

    &.is-link {
        transition: $transition-faster;
        text-decoration: none !important;

        &:hover {
            color: getTextColor($link);
            background: $link;
        }
    }

    img.full-width {
        margin-left: calc(-1 * var(--box-padding));
        width: calc(100% + 2 * var(--box-padding));
        max-width: none;

        &:first-child {
            margin-top: calc(-1 * var(--box-padding));
        }

        &:last-child {
            margin-bottom: calc(-1 * var(--box-padding) - #{$border-radius});
        }
    }
}
