@import '../config';
@import '../utilities/unselectable';
@import '../utilities/color';
@import '../blocks/box';

nav.navbar[role='navigation'] {
    @extend .splitter;
    @extend .is-vcentered;

    --navbar-gap: #{$default-gap * 2};
    --navbar-padding: #{$padding-xSmall};
    padding-top: var(--navbar-padding);
    padding-bottom: var(--navbar-padding);
    z-index: 28;

    > * {
        margin: 0;

        > div {
            margin-top: 0;
            & + div {
                margin-left: var(--navbar-gap);
            }

            &[aria-haspopup='true'] {
                position: relative;

                > a {
                    position: relative;
                    padding-right: 2em;
                    &::after {
                        --size: 0.65em;
                        --thickness: calc(var(--size) / 4);
                        content: '';
                        display: inline-block;
                        position: absolute;
                        right: var(--thickness);
                        top: 50%;
                        transform: translateY(-75%) rotate(135deg);
                        height: var(--size);
                        width: var(--size);
                        border-width: var(--thickness);
                        border-style: solid;
                        border-left: none;
                        border-bottom: none;
                        color: $link;
                    }
                }

                div[aria-label='submenu'] {
                    @extend .has-shadow;
                    @extend .box;
                    @extend .is-white;
                    --box-padding: #{$default-gap / 2};
                    min-width: 7em;
                    margin: 0;
                    display: none;
                    position: absolute;

                    a {
                        padding: 0;
                        font-size: 0.75em;
                        & + a {
                            padding-top: 0.5em;
                        }
                    }

                    &.is-right {
                        right: 0;
                    }
                }

                &:focus-within,
                &:hover {
                    div[aria-label='submenu'] {
                        display: flex;
                        flex-direction: column;
                    }
                }
            }

            a {
                @extend .unselectable;
                text-decoration: none !important;
                color: inherit;
                padding: 0.25em 0;

                &.is-active {
                    @extend .has-underline-highlight;
                }
            }
        }
    }

    > *:first-child {
        z-index: 29;
        div a {
            font-weight: bold;
            font-size: $font-size-5;
        }
    }

    > *:not(:first-child) {
        @extend .is-vcentered;

        div a {
            font-size: $font-size-7;
            margin-top: 0;
        }
    }

    // mobile styling

    .hamburger {
        --hamburger-color: var(--color-text);
        --hamburger-thickness: 3px;
        --hamburger-width: #{$default-gap / 1.5};
        --hamburger-height: calc(var(--hamburger-width) * 0.8);
        display: none;
        cursor: pointer;
        width: var(--hamburger-width);
        height: calc(var(--hamburger-height));
        border-bottom: var(--hamburger-thickness) solid var(--hamburger-color, inherit);
        border-top: var(--hamburger-thickness) solid var(--hamburger-color, inherit);
        position: relative;
        margin-top: 0;

        &:before {
            opacity: 0;
        }

        &:before,
        &:after {
            content: '';
            width: 100%;
            border-bottom: var(--hamburger-thickness) solid var(--hamburger-color, inherit);
            position: absolute;
            left: 0;
            bottom: calc(var(--hamburger-height) / 2 - var(--hamburger-thickness) * 1.5);
        }
    }

    @media (max-width: $navbar-breakpoint) {
        display: block;

        &.is-active {
            // background: white;
            // --color-text: #{getTextColor(white)};
            // color: var(--color-text);

            > *:not(:first-child) {
                display: flex;
            }

            .hamburger {
                display: block;
                transform: rotate(45deg);
                border-color: transparent;

                &:after {
                    transform: rotate(90deg);
                    opacity: 1;
                }

                &:before {
                    opacity: 1;
                }
            }
        }

        .hamburger {
            display: block;
        }

        > *:first-child {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }

        > *:not(:first-child) {
            display: none;
            background-color: white;
            color: getTextColor(white);
            position: absolute;
            z-index: 30;
            flex-direction: column;

            left: 0;
            transform: translateY(var(--navbar-padding));

            width: 100vw;

            * {
                flex: 0 0 1;
                margin: 0;
                width: 100%;
            }

            a {
                display: block;
                padding-left: var(--wrapper-padding-calculated);
                padding-right: var(--wrapper-padding-calculated);
                &.is-active {
                    box-shadow: none;
                }

                &:hover {
                    background: $light;
                }
                padding-top: 0.35em !important;
                padding-bottom: 0.35em !important;
            }

            [aria-haspopup='true'] {
                width: 100%;

                > a::after {
                    right: calc(var(--wrapper-padding-calculated) + var(--thickness));
                }

                [aria-label='submenu'] {
                    padding: 0;
                    position: relative;
                    display: block;
                    border: none;
                    box-shadow: none;
                    border-radius: 0;
                    a {
                        padding-left: calc(var(--wrapper-padding-calculated) + 1em);
                    }
                }
            }
        }
    }
}
