@import '../config';

.columns {
    --column-gap: #{$default-column-gap};
    --column-row-count: 12;
    --column-item-width: calc(#{$content-width} / (var(--column-row-count)) - var(--column-gap));
    display: grid;
    gap: var(--column-gap);
    grid-template-columns: repeat(auto-fit, minmax(var(--column-item-width), 1fr));
    max-width: 100%;

    * + & {
        margin-top: var(--column-gap);
    }

    & > * {
        --column-item-col-span: 2;
        margin: 0;
        grid-column-start: span var(--column-item-col-span);
        max-width: 100%;
    }
}
