@import '../config';

.flow {
    --column-gap: #{$default-column-gap};
    --breakpoint: #{$column-breakpoint};
    --min-column-width: #{$content-width / $column-count / 1};
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--column-gap));
    margin-left: calc(-1 * var(--column-gap));

    * + & {
        margin-top: 0;
    }

    > * {
        margin-top: var(--column-gap);
        margin-left: var(--column-gap);
        flex: 1 1 0;
        min-width: var(--min-column-width);

        @for $i from 1 through $column-count {
            &.is-#{$i} {
                flex: none;
                width: calc(#{$i / $column-count * 100%} - var(--column-gap));
                min-width: calc(var(--min-column-width) * #{$i} - var(--column-gap));
            }

            &.is-offset-#{$i} {
                margin-left: calc(#{$i / $column-count * 100%} + var(--column-gap));
            }
        }
    }
}
